 <!-- About Section -->
    <section class="success" id="about">
        <div class="container" style="width:90%">
            <div class="row">
                <div class="col-lg-10 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
               <h3>Skills</h3>
             <br>
             <h4>&nbsp;&nbsp;Backend</h4>
                <div class="text-center" style="display:inline-block">
                    <a href="javascript:void(0);" class="btn btn-outline btn-primary fw-bold">
                        Java
                    </a>
                </div>&nbsp;
                 <div class="text-center" style="display:inline-block">
                    <a href="javascript:void(0);" class="btn btn-outline fw-bold">
                        Spring Boot
                    </a>
                </div>&nbsp;
                <div class="text-center" style="display:inline-block">
                    <a href="javascript:void(0);" class="btn btn-outline fw-bold">
                        Python
                    </a>
                </div>&nbsp;
                 <div class="text-center" style="display:inline-block">
                    <a href="javascript:void(0);" class="btn btn-outline fw-bold">
                        Django
                    </a>
                </div>&nbsp;
                 <div class="text-center" style="display:inline-block">
                    <a href="javascript:void(0);" class="btn btn-outline fw-bold">
                        MySQL
                    </a>
                </div>&nbsp;
                 <div class="text-center" style="display:inline-block">
                    <a href="javascript:void(0);" class="btn btn-outline fw-bold">
                        Oracle DB
                    </a>
                </div>&nbsp;
                 <div class="text-center" style="display:inline-block">
                    <a href="javascript:void(0);" class="btn btn-outline fw-bold">
                        Redis
                    </a>
                </div>
             <br><br><br>
             <h4>&nbsp;&nbsp;Frontend</h4>
                 <div class="text-center" style="display:inline-block">
                    <a href="javascript:void(0);" class="btn btn-outline fw-bold">
                        JavaScript
                    </a>
                </div>&nbsp;
                 <div class="text-center" style="display:inline-block">
                    <a href="javascript:void(0);" class="btn btn-outline fw-bold">
                        HTML
                    </a>
                </div>&nbsp;
                 <div class="text-center" style="display:inline-block">
                    <a href="javascript:void(0);" class="btn btn-outline fw-bold">
                        CSS
                    </a>
                </div>
             <br><br><br>
             <h4>&nbsp;&nbsp;Deployment</h4>
                <div class="text-center" style="display:inline-block">
                    <a href="javascript:void(0);" class="btn btn-outline fw-bold">
                        AWS EC2
                    </a>
                </div>&nbsp;
             <div class="text-center" style="display:inline-block">
                    <a href="javascript:void(0);" class="btn btn-outline fw-bold">
                        Docker
                    </a>
                </div>
             <br><br><br>
             <h4>&nbsp;&nbsp;Version Control</h4>
             <div class="text-center" style="display:inline-block">
                    <a href="javascript:void(0);" class="btn btn-outline fw-bold">
                       Git
                    </a>
                </div>&nbsp;
             <div class="text-center" style="display:inline-block">
                    <a href="javascript:void(0);" class="btn btn-outline fw-bold">
                        Github
                    </a>
                </div>
         </div>
             <br><br>
         <hr>
         <br>
         <div class="row">
             <h3>Timeline</h3><br>
                <div class="col-lg-9">
                 <p><h4 class="mb-0">1994. 3. 11. ~ 2012. 2. </h4>
                  &nbsp;&nbsp;경북 문경의 조용한 산골에서 태어나 20년간 자랐습니다.                 
                 </p><br>
                 <p>
                  <h4 class="mb-0">2012. 3. ~ 2018. 2. </h4>
                  &nbsp;&nbsp;서울대학교 기계항공공학부에서 기계공학을 공부하였습니다.
                 </p><br>
                 <p>
                  <h4 class="mb-0">2015. 9. ~ 2016. 8. </h4>
                  &nbsp;&nbsp;일본 Kyoto University (교토대학) 에서 1년간 교환학생으로서 공부하였습니다. 
                 </p><br>
                 <p>
                  <h4 class="mb-0">2018. 1. ~ 2020. 7. </h4>
                  &nbsp;&nbsp;SK Hynix에서 HW design (패키지 회로설계) 엔지니어로 근무하였습니다.
                 </p>
                 <br>
                 <p>
                  <h4 class="mb-0">~ now</h4>
                  &nbsp;&nbsp;새로운 도전을 위하여 끊임없이 노력하고 있습니다.
                  <p>
             </div>
            </div>
        </div>
    </section>
