 <!-- About Section -->
    <section class="success" id="about">
        <div class="container d-flex justify-content" style="width:80%">
            <div class="row">
                <div class="text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
               <h3>Skills</h3>
             <br>
             <h4>&nbsp;&nbsp;Backend</h4>
                <div class="text-center" style="display:inline-block">
                    <a href="https://github.com/spacekay/space-cowguy/blob/master/baekjoon/Tetromino.java" target="_blank" class="btn btn-outline btn-primary fw-bold">
                        Java
                    </a>
                </div>&nbsp;
                 <div class="text-center" style="display:inline-block">
                    <a href="https://github.com/bitravel/bitravel-project" target="_blank" class="btn btn-outline fw-bold">
                        Spring Boot
                    </a>
                </div>&nbsp;
                <div class="text-center" style="display:inline-block">
                    <a href="https://github.com/bitravel/bitravel-resources/blob/master/python/datapre/travelpre.py" target="_blank" class="btn btn-outline fw-bold">
                        Python
                    </a>
                </div>&nbsp;
                 <div class="text-center" style="display:inline-block">
                    <a href="https://github.com/spacekay/your-nuest-song" target="_blank" class="btn btn-outline fw-bold">
                        Django
                    </a>
                </div>&nbsp;
                 <div class="text-center" style="display:inline-block">
                    <a href="https://github.com/bitravel/bitravel-project/blob/master/Bitravel/src/main/resources/application.properties"
                       target="_blank" class="btn btn-outline fw-bold">
                        MySQL
                    </a>
                </div>&nbsp;
                 <div class="text-center" style="display:inline-block">
                    <a href="#"
                       target="_blank" class="btn btn-outline fw-bold">
                        PostgreSQL
                    </a>
                </div>&nbsp;
                 <div class="text-center" style="display:inline-block">
                    <a href="https://github.com/spacekay/space-cowguy/blob/master/dbstudy/Netflix_db_KJH_BSJ.pdf" target="_blank" class="btn btn-outline fw-bold">
                        Oracle DB
                    </a>
                </div>&nbsp;
                 <div class="text-center" style="display:inline-block">
                    <a href="https://github.com/bitravel/bitravel-project/blob/master/Bitravel/src/main/java/com/bitravel/config/RedisConfig.java"
                       target="_blank" class="btn btn-outline fw-bold">
                        Redis
                    </a>
                </div>
             <br><br><br>
             <h4>&nbsp;&nbsp;Frontend</h4>
                 <div class="text-center" style="display:inline-block">
                    <a href="https://github.com/bitravel/bitravel-project/blob/master/Bitravel/src/main/resources/static/js/bitravel/travelDetail.js"
                       target="_blank" class="btn btn-outline fw-bold">
                        JavaScript
                    </a>
                </div>&nbsp;
                 <div class="text-center" style="display:inline-block">
                    <a href="https://github.com/bitravel/bitravel-project/blob/master/Bitravel/src/main/resources/templates/user/signUp.html"
                       target="_blank" class="btn btn-outline fw-bold">
                        HTML
                    </a>
                </div>&nbsp;
                 <div class="text-center" style="display:inline-block">
                    <a href="https://github.com/bitravel/bitravel-project/blob/master/Bitravel/src/main/resources/templates/travel/travelDetail.html" target="_blank" class="btn btn-outline fw-bold">
                        CSS
                    </a>
                </div>
             <br><br><br>
               <h4>&nbsp;&nbsp;Data Analysis</h4>
                <div class="text-center" style="display:inline-block">
                    <a href="#" target="_blank" class="btn btn-outline fw-bold">
                        Pandas
                    </a>
                </div>&nbsp;
               <div class="text-center" style="display:inline-block">
                    <a href="https://public.tableau.com/app/profile/.43824017" target="_blank" class="btn btn-outline fw-bold">
                        tableau
                    </a>
                </div>&nbsp;
             <br><br><br>
             <h4>&nbsp;&nbsp;Deployment</h4>
                <div class="text-center" style="display:inline-block">
                    <a href="https://github.com/spacekay/your-nuest-song/blob/master/yournuestsong/settings.py" target="_blank" class="btn btn-outline fw-bold">
                        AWS EC2
                    </a>
                </div>&nbsp;
                <div class="text-center" style="display:inline-block">
                    <a href="#" target="_blank" class="btn btn-outline fw-bold">
                        Docker
                    </a>
                </div>&nbsp;
             <br><br><br>
             <h4>&nbsp;&nbsp;Version Control</h4>
             <div class="text-center" style="display:inline-block">
                    <a href="https://github.com/spacekay" target="_blank" class="btn btn-outline fw-bold">
                       Git
                    </a>
                </div>&nbsp;
             <div class="text-center" style="display:inline-block">
                    <a href="#y" target="_blank" class="btn btn-outline fw-bold">
                        Github
                    </a>
                </div>
         </div>
             <br><br>
         <div class="row">
          <br>
         <hr>
          </div>
         <br>
         <div class="row">
             <h3>Timeline</h3><br>
                <div class="col-lg-10">
                 <p><h4 class="mb-0">1994. 3. 11. ~ 2012. 2. </h4>
                  &nbsp;&nbsp;경북 문경의 조용한 산골에서 태어나 20여 년간 자랐습니다.                 
                 </p><br>
                 <p>
                  <h4 class="mb-0">2012. 3. ~ 2018. 2. </h4>
                  &nbsp;&nbsp;서울대학교 기계항공공학부에서 기계공학을 공부하였습니다.
                 </p><br>
                 <p>
                  <h4 class="mb-0">2015. 9. ~ 2016. 8. </h4>
                  &nbsp;&nbsp;일본 Kyoto University (교토대학) 에서 1년간 교환학생으로서 공부하였습니다. 
                 </p><br>
                 <p>
                  <h4 class="mb-0">2018. 1. ~ 2020. 7. </h4>
                  &nbsp;&nbsp;SK Hynix에서 HW design (패키지 회로설계) 엔지니어로 2년 7개월 동안 근무하였습니다.
                 </p>
                 <br>
                 <p>
                  <h4 class="mb-0">2021. 6. ~ 2022. 2. </h4>
                  &nbsp;&nbsp;CS & Web development (Backend 위주) 관련 지식을 습득하였고 실습 경험을 쌓았습니다.
                  <p>
                 <br>
                  <p>
                  <h4 class="mb-0">2022. 3. ~ 2023. 4. </h4>
                  &nbsp;&nbsp;YG Entertainment에서 Data Insight/Data Science 팀 소속 데이터 분석가로 1년 1개월간 근무하였습니다.
                  <p>
                 <br>
                 <p>
                  <h4 class="mb-0">2023. 5. ~ </h4>
                  &nbsp;&nbsp;YG Entertainment IT개발 팀에서 Backend 개발자로 근무 예정입니다.
                  <p>
                 <br>
                 <p>
                  <h4 class="mb-0"> ~ now</h4>
                  &nbsp;&nbsp;성장을 위한 도전을 멈추지 않겠습니다.
                  <p>
             </div>
            </div>
        </div>
    </section>
